{% extends 'BlogBundle::base.html.twig' %}

{% form_theme form _self %}
 
{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        {% for error in errors %}
            <small class="help-block">{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</small>
        {% endfor %}
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block choice_widget_expanded %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }} class="my-form-choices">
    {% for child in form %}
        {{ form_widget(child) }}
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock choice_widget_expanded %}

{% block checkbox_widget %}
{% spaceless %}
    <div class="checkbox">
        <label for="{{ id }}"><input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />{{ label|trans({}, translation_domain) }}</label>
    </div>
{% endspaceless %}
{% endblock checkbox_widget %}

{% block radio_widget %}
{% spaceless %}
    <div class="radio">
        <label for="{{ id }}"><input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />{{ label|trans({}, translation_domain) }}</label>
    </div>
{% endspaceless %}
{% endblock radio_widget %}

{% block body -%}
<div class="container">
    <div class="row">    
    	<div class="col-lg-12">
            <div class="page-header">
                <h2>Register</h2>
            </div>
    	</div>
    </div>
    <div class="row">    
    	<div class="col-lg-offset-3 col-lg-6">
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title"><h3>Please sign up</h3></div>
                </div>
                <div class="panel-body">

                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            
                    {{ form_errors(form) }}
                    
                        <div class="form-group {% if form_errors(form.username) %} has-error {% endif %}">
                            {{ form_label(form.username) }} *
                            {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(form.username) }}
                        </div>
                        <div class="form-group {% if form_errors(form.email) %} has-error {% endif %}">
                            {{ form_label(form.email) }} *
                            {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(form.email) }}
                        </div>
                        <div class="form-group {% if form_errors(form.plainPassword.first) %} has-error {% endif %}">
                            {{ form_label(form.plainPassword.first) }} *
                            {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(form.plainPassword.first) }}
                        </div>
                        <div class="form-group {% if form_errors(form.plainPassword.second) %} has-error {% endif %}">
                            {{ form_label(form.plainPassword.second) }} *
                            {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(form.plainPassword.second) }}
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-primary" type="submit">Register</button>
                        </div>

                {{ form_end(form) }}
                
                </div>
                <div class="panel-footer">
                    <div class="login-links">
                        {#<p><a href="{{ path('_starter-template_basic-remind') }}">Forgot password?</a></p>#}
                        <p><a href="{{ path('blog_frontend_login') }}">Already have an account? <b>Sign In</b></a></p>
                    </div>
                </div>
            </div>
    
    	</div>
    </div>
</div>
{% endblock %}
